*.pyc
*images/
*latex/
*plots/
*preds/
*.mp4
related_repos/
testbench_results/
*.ckpt
*.caffemodel
.idea/
src/Viz/3DVizWeb/node_modules
*.bag
*.log
*.aux
*.acn
*.ist
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*-blx.bib